// CSS3 defaults
// *-------------------------------------------------------------------------------
// $default-box-sizing: border-box;

// Color defaults
// *-------------------------------------------------------------------------------
$webkit_tap_hightlight: orange;
$ins_color: orange;
$mark_color: orange;
$primary_text: orange;
$selection_color: orange;
$selection_text_color: orange;
