// The role of the config sass file is two fold. Adjust !defaults as set in lower level modules
// and to set theme variables.

// Typically, commented out variables signify a !default setting at a
// lower level module.



// CSS3 defaults
// *-------------------------------------------------------------------------------
// $default-box-sizing: border-box;


/////// Typography configuration
// *-------------------------------------------------------------------------------
$font_size: 12;

$heading_1: 46;
$heading_2: 32;
$heading_3: 28;
$heading_4: 18;
$heading_5: 18;
$heading_6: 18;

$line: $font_size * 1.5;

$small_point_size: 10;
$large_point_size: 14;

$primary_font_family: #{"Helvetica Neue", Arial, sans-serif};
$secondary_font_family: #{"Helvetica Neue", Arial, sans-serif};
$heading_font_family: #{"Helvetica Neue", Arial, sans-serif};

// $icon_font_alpha: #{'ico-fonts'};


/////// Default webfont directory
// *-------------------------------------------------------------------------------
$fontDir: "fonts/";

/////// Default image directory
// *-------------------------------------------------------------------------------
$imgDir: "images/";

/////// OOCSS generic base colors
// *-------------------------------------------------------------------------------
$alpha_primary:   #5a2e2e;        // red
$bravo_primary:   #3e4147;        // green
$charlie_primary: #fffedf;        // yellow
$delta_primary:   #2a2c31;        // blue
$echo_primary:    #dfba69;        // accent

$alpha_gray:      #333;           //black

/////// Color math
// *-------------------------------------------------------------------------------
// @import "color/color_math";
// @import "color/grayscale_math";
// @import "color/color_defaults";


/////// Semantic variables
// *-------------------------------------------------------------------------------
// abstract 'white' value to easily applied to semantic class objects
$white:                                #fff;

// primary header font color
$primary_header_color:                 $alpha_primary;

// default heading font weight
$heading_font_weight:                  normal;

// primary font color for the app
$primary_text:                         $alpha_primary;

// default `href` link color
$href_color:                           $delta_primary;

// default shadow colors
$shadow_color:                         fade-out($alpha_primary, 0.5);

// default border color
$border_color:                         $alpha_primary;



/////// HTML 5 feature colors
// *-------------------------------------------------------------------------------
// used with the `ins` tag
// http://www.w3schools.com/tags/tag_ins.asp
$ins_color:                            $charlie_primary;

// used with the `mark` tag
// http://www.w3schools.com/html5/tag_mark.asp
$mark_color:                           $charlie_primary;

// webkit tap highlight color
$webkit_tap_hightlight:                $delta_primary;

// overrides the default content selection color in the browser
$selection_color:                      $charlie_primary;
$selection_text_color:                 $primary_text;


/////// @media breakpoint defaults
// *-------------------------------------------------------------------------------
$tablet:                    "screen and (max-width: 64em)";
$tablet_portrait:           "screen and (max-width: 50em) and (orientation: portrait)";
$tablet_landscape:          "screen and (max-width: 50em) and (orientation: landscape)";

$mobile:                    "screen and (max-width: 30em)";
$mobile_portrait:           "screen and (max-width: 30em) and (orientation : portrait)";
$mobile_landscape:          "screen and (max-width: 30em) and (orientation : landscape)";
