// Include @font-face references
//* -----------------------------------------------------------------------
@include font-face(ico-fonts, ico-fonts);

// Customize the following to fit your specifications
// Commented out styles represent Toadstool's default bootstrap styles
//* -----------------------------------------------------------------------
html {
  font: em($font_size, 16) $primary_font_family;
  line-height: baseline($font_size);
  color: $primary_text
}

// Heading CSS rules
//* -----------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  @include heading();
}

h2 {
  @include text($heading_2);
}

h3 {
  @include text($heading_3);
}

h4 {
  @include text($heading_4);
}

h5 {
  @include text($heading_5);
}

h6 {
  @include text($heading_6);
}

// Standard body text support
// -----------------------------------------------------------------------
p {
  margin-bottom: baseline-margin($font_size);
  text-indent: 0;
}

a {
  color: $href_color;
  text-decoration: none;
  &:hover, &:active {
    text-decoration: underline;
  }
  &:visited {
    color: $href_color;
  }
}
