// Customize the following to fit your specifications
// Commented out styles represent Toadstool's default bootstrap styles
//* -----------------------------------------------------------------------
html {
  font: em($font_size, 16) $primary_font_family;
  line-height: baseline($font_size);
  color: $primary_text
}

// Heading CSS rules
// -----------------------------------------------------------------------
// Before editing CSS rules in this document, be sure that you have address the configurable variables
// in the `_config.scss` file

// $heading_1, $heading_2, $heading_3, $heading_4, $heading_5, $heading_6
// $heading_font_family, $primary_header_color and $heading_font_weight
// Bottom margins and line-height are managed via the vertical rythem mixin in Stipe

h1 {
  // @extend %headings_1
}

h2 {
  // @extend %headings_2
}

h3 {
  // @extend %headings_3
}

h4 {
  // @extend %headings_4
}

h5 {
  // @extend %headings_5
}

h6 {
  // @extend %headings_6
}

// Standard body text support
// -----------------------------------------------------------------------
p {
  // margin-bottom: baseline-margin($font_size)
  // text-indent: 0
}

b {
  // &:after
  //  content: " "
}

// :link Pseudo-class is totally not necessary, but in come cases needed
a {
  // &:link
  //  color: $href_color
  //  text-decoration: none
  // &:hover, &:active
  //  text-decoration: underline
  // &:visited
  //  color: $href_color
}
