// App Config - this is where most of your magic will happen
// ------------------------------------------------------------------------------
@import "config";  // Editing the config file sets the theme for the project


// Import core Sass libraries
// ------------------------------------------------------------------------------
@import "lib/bourbon/bourbon";
@import "lib/colors/manifest";
@import "lib/typography/manifest";


// Standard CSS reset stuff here
// ------------------------------------------------------------------------------
@import "reset";


// Install custom web fonts
// ------------------------------------------------------------------------------
// @import "typography/web_fonts"; // edit this to add web font libraries


// Build out custom styles
// ------------------------------------------------------------------------------

// Base
@import "typography";
@import "typography/ico-fonts";
@import "forms";
@import "buttons";

// UI Patterns and Modules
// State is addressed within the component code itself
@import "ui_patterns/manifest";
@import "modules/manifest";

// Vendor specific styles / modules
@import "vendors/manifest";

// Layouts
@import "layouts/manifest";
