doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title The Ultra Node Noob!
    link(rel='stylesheet', href='stylesheets/application.css')
  body
    h1 Hello World!
    p Get on it!!
    p Really....
    p <strong>Hi</strong> hello!
    p LiveReload still doesn't work
    script(src='//localhost:35729/livereload.js')
